	<div class="search"><% form_tag :method => 'get' do%>
	<div class="search"><%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
	<%end%>
	</div></div>
<h1>Handbags Catalog</h1>

<% for product in @products -%>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%=h product.title %></h3>
		<%= product.description %>
		<p class="price" ><%= number_to_currency(product.price, :unit => "&#8364;") %></p>
		
		<div class="add_button">
		<% form_remote_tag :url => { :action => :add_to_cart, :id => product } do %>
			<div class="add_button"><%= submit_tag "Add to Cart" %>
		<% end %>
		</div></div>
	
	</div>
<% end %>
